<footer id="footer">
<div class="footer-left">
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
<div class="rc-scout"></div>
</div>
<div class="footer-right">
<nav>
<ul>
<% for (var i in theme.nav) { %>
    <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
    <li><a href="/atom.xml">Feed</a></li>
    <li><a href="http://eepurl.com/gUCSRn" target="_blank" rel="noopener noreferrer">Subscribe</a></li>
</ul>
</nav>
</div>
</footer>
